@use "../global/global";

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--text-button);
  padding: 13px calc(15px);
  position: relative;
}

.header__login-text {
  display: none;
}

.header__nav {
  display: none;
}

.header__nav-active {
  display: block;
}

.header__list {
  list-style: none;
  margin-top: 43px;
  min-height: 684px;
  min-width: 100%;
}

.header__item {
  font-size: 16px;
  line-height: 19px;
  border-top: 1px solid #C1C2CA;
  padding: 20px 15px;
}

.header__login-case {
  position: relative;
  margin-left: -20px;
}

.header__item:hover,
.header__login-case:hover {
  opacity: 0.7;
}

.header__item a {
  text-decoration: none;
  color: var(--text-classic);
}

.header__item-button {
  position: relative;
  margin-left: 29px;
}

.header__item-button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 22px;
  top: 0;
  left: -25px;
  background-image: url("../../image/login-mobile.svg");
  background-repeat: no-repeat;
}

.header__img {
  margin-left: 10%;
  width: 119px;
  height: 19px;
}

.header__menu {
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  width: 16px;
  height: 10px;
  background-color: var(--text-button);
  top: 18px;
  left: 15px;
}

.header__menu::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 18px;
  top: 0;
  left: 0;
  background-image: url("../../image/menu.svg");
  background-repeat: no-repeat;
}

.header__login {
  display: block;
  cursor: pointer;
  border: none;
  width: 16px;
  height: 10px;
  background-color: var(--text-button);
}

.header__login::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 18px;
  top: 3px;
  right: 0;
  background-image: url("../../image/login-mobile.svg");
  background-repeat: no-repeat;
}

.header__login-close {
  display: block;
  cursor: pointer;
  border: none;
  width: 16px;
  height: 10px;
  background-color: var(--text-button);
}

.header__login-close::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 18px;
  top: 3px;
  right: -1px;
  background-image: url("../../image/close.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header {
    padding: 25px 45px 18px 45px;
    grid-template-columns: 1fr min-content;
  }

  .display-tablet {
    display: none;
  }

  .header__nav-case {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .header__img {
    margin: 0;
    width: 133px;
    height: 22px;
  }

  .header__login-case {
    width: 22px;
    margin: 0;
  }

  .header__nav {
    display: block;
  }

  .header__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-left: 12%;
    min-height: 20px;
    min-width: 50px;
  }

  .header__item {
    font-size: 14px;
    line-height: 16px;
    margin-right: 4%;
    border: none;
    padding: 0;
  }

  .header__none {
    display: none;
  }

  .header__login {
    top: 22px;
    right: 46px;
  }

  .header__login::after {
    width: 20px;
    height: 22px;
    top: -1px;
    background-image: url("../../image/vector-tablet.svg")
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 32px calc(50% - 495px);
  }

  .header__login {
    width: min-content;
    height: auto;
    padding: 0;
  }

  .header__login-text {
    display: block;
    min-width: 173px;
    margin-top: 3px;
    margin-left: 29px;
    margin-right: -4px;
    font-size: 16px;
    line-height: 19px;
  }

  .header__login::after {
    left: 0;
    top: 1px;
  }

  .header__img {
    width: 148px;
  }

  .header__list {
    margin-left: 10%;
  }

  .header__item {
    font-size: 16px;
    line-height: 19px;
    margin-right: 3%;
  }

  .header__login-case {
    width: min-content;
  }
}

@media(min-width: 1366px) {
  .header {
    padding: 32px calc(50% - 580px);
    padding-bottom: 30px;
  }

  .header__list {
    margin-left: 12%;
  }

  .header__item {
    margin-right: 4%;
  }

  .header__img {
    height: 24px;
  }
}