@use "../global/global";

.slider {
  position: relative;
}

.banner {
  min-height: 226px;
  background: var(--button-color);
}

.banner-hidden {
  display: none;
}

.banner__wrapper,
.banner__wrapper-2,
.banner__wrapper-3 {
  position: relative;
  min-width: 280px;
  margin: 0 auto;
  min-height: 226px;
  background-repeat: no-repeat;
  padding: 0 calc(15px);
}

.banner__wrapper {
  background-image: url("../../image/main-image.png");
}

.banner-2 {
  background-image: url("../../image/banner-2-mobile.png");
}

.banner-3 {
  background-image: url("../../image/banner-3-mobile.png");
}

.banner__wrapper::before {
  content: "";
  position: absolute;
  width: 104px;
  height: 153px;
  top: 28px;
  right: 0px;
  background-image: url("../../image/mobile-card.png");
  background-repeat: no-repeat;
}

.banner__case {
  padding-top: 38px;
}

.banner__header {
  margin: 0;
  padding: 0;
  font-size: 38px;
  line-height: 45px;
  font-weight: 700;
  color: var(--text-button);
}

.banner__header-2 {
  margin: 0;
  padding: 0;
  font-size: 38px;
  line-height: 45px;
  font-weight: 700;
  color: var(--text-classic);
}

.banner__text,
.banner__text-2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--text-opasity-2);
  margin-top: 8px;
}

.banner__text-2 {
  color: var(--banner-color);
  margin-right: 49%;
}

.banner__button,
.banner__button-2 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: var(--text-button); 
  padding: 15px 36px 17px 36px;
  padding: 14px 34px 15px 32px;
  border-radius: 4px;
  margin-top: 23px;
  border: none;
}

.banner__button-2 {
  background-color: var(--button-color);
}

.banner__button-text {
  color: var(--text-classic);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.dot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 36px;
  position: absolute;
  top: 209px;
  left: 45%;
}

.dot__item {
  width: 6px;
  height: 6px;
  background-color: var(--button-dot);
  border-radius: 50%;
}

.dot__active {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-button);
}

@media(min-width: 768px) {
  .banner {
    min-height: 300px;
  }

  .banner__wrapper,
  .banner__wrapper-2,
  .banner__wrapper-3 {
    padding: 0 calc(86px);
    min-height: 300px;
  }

  .banner-2 {
    background-image: url("../../image/banner-2-tablet.png");
  }

  .banner-3 {
    background-image: url("../../image/banner-3-tablet.png");
  }

  .banner__wrapper::before {
    width: 334px;
    height: 206px;
    top: 37px;
    right: 86px;
    background-image: url("../../image/cards-tablet.png");
  }

  .banner__case {
    padding-top: 65px;
  }

  .banner__header {
    font-size: 46px;
    line-height: 54px;
  }

  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 6px;
  }

  .banner__button {
    padding: 14px 37px 14px 33px;
    margin-top: 31px;
  }

  .banner__button-text {
    font-size: 16px;
    line-height: 19px;
  }

  .dot {
    top: 278px;
    left: 47%;
    width: 45px;
  }

  .dot__active,
  .dot__item {
    width: 8px;
    height: 8px;
  }
}

@media (min-width: 1366px) {
  .banner {
    min-height: 400px;
    margin-bottom: 60px;
    background-image: url("../../image/main-image.png");
  }

  .banner-2 {
    min-height: 400px;
    margin-bottom: 60px;
    background-image: url("../../image/banner2.png");
  }

  .banner-3 {
    min-height: 400px;
    margin-bottom: 60px;
    background-image: url("../../image/banner3.png");
  }

  .banner__wrapper {
    padding: 0 calc(268px);
    background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%);
    min-height: 400px;
  }

  .banner__wrapper::after {
    position: absolute;
    content: "";
    width: 917px;
    height: 400px;
    top: 0px;
    left: 165px;
    z-index: 0;
    background-image: url("../../image/main-image.png");
  }
  .banner__wrapper::before {
    width: 422px;
    height: 260px;
    top: 60px;
    right: 246px;
    background-image: url("../../image/card-bank.png");
    z-index: 1;
  }

  .banner__wrapper-2,
  .banner__wrapper-3 {
    padding: 0 calc(268px);
    min-height: 400px;
    padding: 0 calc(50% - 415px);
  }

  .banner__header,
  .banner__header-2 {
    font-size: 54px;
    line-height: 63px;
  }


  .banner__text,
  .banner__text-2 {
    font-size: 22px;
    line-height: 26px;
  }

  .banner__button-text {
    font-size: 18px;
    line-height: 21px;
  }

  .banner__case {
    padding-top: 103px;
    position: relative;
    z-index: 1;
  }

  .banner__button {
    padding: 16px 44px 16px 35px;
    margin-top: 35px;
  }
}