@use "../global/global";

.registration {
  padding: 0 14px;
}

.registration__wrapper {
  border-radius: 4px;
}

.registration__header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 34px;
  text-align: center;
}

.registration__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.registration__item {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-bottom);
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.registration__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-label);
}

.registration__text-cell {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: var(--text-classic);
}

.registration__name {
  width: 93%;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #0A1E32;
  margin-bottom: 21px;
  padding-left: 15px;
}

.registration__case {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.registration__phohe {
  margin-bottom: 19px;
}

.registration__phohe,
.registration__email {
  width: 93%;
  border-radius: 4px;
  height: 56px;
  border: 1px solid #0A1E32;
  padding-left: 15px;
}

.registration__name::placeholder,
.registration__phohe::placeholder,
.registration__email::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-opacity);
}

.registration__button-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.registration__button {
  cursor: pointer;
  border: none;
  color: var(--text-button);
  background: var(--button-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

.registration__button:hover {
  opacity: 0.7;
}

@media(min-width: 768px) {
  .registration {
    padding: 0 45px;
  }

  .registration__header {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 39px;
  }

  .registration__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }

  .registration__text {
    font-size: 16px;
    line-height: 22px;
  }

  .registration__text-cell {
    font-size: 22px;
    line-height: 31px;
  }

  .registration__case {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  .registration__name {
    margin-bottom: 30px;
    padding-left: 23px;
    width: 96%;
  }

  .registration__phohe,
  .registration__email {
    width: 44%;
    padding-left: 23px;
  }

  .registration__button {
    font-size: 16px;
  line-height: 19px;
  }
}

@media (min-width: 1024px) {
  .registration {
    padding: 0 calc(50% - 384px);
  }

  .registration__header {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 28px;
  }

  .registration__wrapper {
    padding: 55px 69px;
    background-color: var(--text-button);
  }

  .registration__button {
    width: 31%;
  }
}

@media(min-width: 1366px) {
  .registration__header {
    margin-bottom: 25px;
  }
}