@use "../global/global";

.footer-description {
  padding: 32px 14px;
  background-color: var(--text-button);
}

.adress {
  margin-bottom: 18px;
}

.adress__text {
  display: none;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: var(--text-opacity);
}

@media (min-width: 768px) {
  .footer-description {
    padding: 52px 45px;
  }

  .footer-description__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
  }

  .adress {
    margin-bottom: 25px;
  }

  .adress__img {
    width: 133px;
  }

  .adress__case {
    width: 252px;
  }

  .adress__text {
    display: block;
  }
}

@media (min-width: 1366px) {
  .footer-description {
    padding: 54px calc(50% - 585px);
  }

  .foother-description__container{
    display: grid;
    grid-template-areas: 'a b'
                        'c b';
  }

  .foother-description__case {
    display: flex;
    margin-left: -4%;
    margin-top: 3px;
  }

  .adress {
    margin: 0;
  }

  .adress__case {
    margin-top: -125px;
  }

  .adress__img {
    width: 148px;
  }
}